<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481093669716-r634duv3jajof26jh4abv8g8djrqmn5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481093669716-r634duv3jajof26jh4abv8g8djrqmn5v</string>
	<key>API_KEY</key>
	<string>Add me</string>
	<key>GCM_SENDER_ID</key>
	<string>481093669716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-bee59</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-bee59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:481093669716:ios:53476c60d26b62f7f36ec1</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-bee59.firebaseio.com</string>
</dict>
</plist>
